<div class="container" style="height: 100%">
    <form autocomplete="false" #frmduplicataPagar="ngForm" name="frmduplicataPagar"
      (ngSubmit)="confirmarDados(frmduplicataPagar)" >
      <div class="ui-g" style="margin-top: -15px;">
        <div id="titulo" class="ui-g-12" style="margin-bottom: -15px; margin-top: -20">
          <h2>{{ editando ? ( modoConsulta ? 'Consultando' : 'Alterando ') : 'Inserindo' }} Contas a Pagar</h2>
        </div>
      </div>

      <div class="ui-g" style="margin-top: -5px;">
        <div class="ui-g-6 ui-md-2 ui-lg-2 ui-fluid">
          <label>Data Compra</label>
          <p-calendar dateFormat="dd/mm/yy" [inline]="false" ngModel
            name="txtDataCompra" [locale]="cfgPtBr"
            [readonlyInput]="true" appendTo="body" [showButtonBar]="true"
            [disabled]="modoConsulta" [monthNavigator]="true" [yearNavigator]="true"
            yearRange="1930:2030"
            [(ngModel)]="duplicataPagar.dataCompra">
          </p-calendar>
        </div>

        <div class="ui-g-6 ui-md-2 ui-lg-2 ui-fluid">
          <label>Data Vencimento</label>
          <p-calendar dateFormat="dd/mm/yy" [inline]="false" ngModel
            name="txtDataVencimento" [locale]="cfgPtBr"
            [readonlyInput]="true" appendTo="body" [showButtonBar]="true"
            [disabled]="modoConsulta" [monthNavigator]="true" [yearNavigator]="true"
            yearRange="1930:2030"
            [(ngModel)]="duplicataPagar.dataVencimento">
          </p-calendar>
        </div>

        <div class="ui-g-6 ui-md-2 ui-lg-2 ui-fluid">
          <label>Conta*</label>
          <p-dropdown emptyFilterMessage="" [options]="listaContas" [disabled]="modoConsulta"
            name="cmbPerfil" [required]="true"
            [(ngModel)]="duplicataPagar.conta"
            [filter]="true"
            placeholder="Selecione">
          </p-dropdown>
        </div>

        <div class="ui-g-6 ui-md-2 ui-lg-2 ui-fluid">
          <label>Fornecedor*</label>
          <p-dropdown emptyFilterMessage="" [options]="listaFornecedor" [disabled]="modoConsulta"
            name="cmbPerfil" [required]="true"
            [(ngModel)]="duplicataPagar.fornecedor"
            [filter]="true"
            placeholder="Selecione">
          </p-dropdown>
        </div>

        <div class="ui-g-6 ui-md-3 ui-lg-3 ui-fluid">
          <label>Valor</label>
          <input pInputText text="text" name="txtValor" [(ngModel)]="duplicataPagar.valor"
            [disabled]="modoConsulta" maxlength=40
            currencyMask [options]="{ prefix: '', precision :2, thousands: '.', decimal: ',', allowNegative: false }">>
        </div>
      </div>

      <div class="ui-g-12">
        <button pButton #btnSalvar type="submit" label="Salvar" class="ui-button-success"
          icon="pi pi-save"
          pTooltip="Salvar" [disabled]="duplicataPagar.invalid"
          *ngIf="!modoConsulta">
        </button>

        <button pButton type="button" label="Voltar" class="ui-button-secondary"
          (click)="voltar()" icon="pi pi-chevron-circle-left">
        </button>
      </div>
    </form>
  </div>
